.recipe {
  margin: 2em auto;
  border: 2px solid #ebebeb;
  overflow: hidden;
  border-radius: 10px;
}

.recipe__image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.recipe__content {
  padding: 20px;
}

.recipe__title {
  font-size: 1.2em;
  font-weight: bold;
}