<!-- wp:group {"metadata":{"name":"Conteneur"},"style":{"spacing":{"blockGap":"0"},"dimensions":{"minHeight":"100vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="min-height:100vh">
    <!-- wp:template-part {"slug":"header","theme":"capitainewp-fse","area":"header"} /-->

    <!-- wp:post-content {"align":"full","style":{"spacing":{"blockGap":"0"},"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"constrained"}} /-->

    <!-- wp:template-part {"slug":"footer","theme":"capitainewp-fse","area":"footer"} /-->
</div>
<!-- /wp:group -->